.footer{
    margin-top: 307px;
    color: #FFFFFF;
.footer__big-list {
    color: white;
    background-color: #333A44;
    width: 1440px;
    height: 96px;
}
.footer__text {
    left: 1068px;
    top: 146px;
    border-radius: nullpx;
    font-size: 48px;
    cursor: pointer;
    line-height: 48px;
    letter-spacing: -2.14286px;
    margin-top: 102px;
    margin-left: 165px;
    margin-bottom: 102px;
    margin-right: 336px;
}
.footer__small-div {
    background-color: white;
    margin-top: 122px;
    border-style: solid;
    color: #495567;
    cursor: pointer;
    border: none;
    width: 159px;
    height: 56px;
    margin-right: 18px;
    border-radius: 12px;
    padding-left: 16px;
    padding-top: 15px;
}
.footer__small-text {
    padding-left: 30px;
}
.footer__small__texts {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
}

.footer__img {
    cursor: pointer;
}
.footer__last-div1{
    background-color: #333A44;
    margin-right: 165px;
    margin-top: 122px;
    border-style: solid;
    border: none;
    width: 159px;
    height: 56px;
    display: flex;
}

}