.footer{
    background-color: #495567;
    width: 1140px;
    height: 300px;
    color: #FFFFFF;
.footer__text {
    height: 96px;
    width: 415px;
    left: 1068px;
    top: 146px;
    border-radius: nullpx;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    margin-top: 102px;
    margin-left: 165px;
    margin-right: 336px;

}
}